.BtnSubmitReport {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: rgb(230, 230, 230);
    color: rgb(40, 40, 40);
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.BtnSubmitReport:hover {
    color: rgb(40, 40, 40);
}

.BtnSubmitReport:after {
    content: "";
    background: orange;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.BtnSubmitReport:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.BtnSubmitReportPosition {
    position: absolute;
    right: 0;

    transform: translate(0%,-50%);
}