* {
    padding: 0;
    /* margin: 0; */
    margin: 0;
    font-family: EH;
}

html {
    scroll-behavior: smooth;
}


html::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    scrollbar-arrow-color: #000000;
}

/*滚动条里面小方块*/
html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px orange;
    background: orange;
    scrollbar-arrow-color: orange;
}

/*滚动条里面轨道*/
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px black;
    border-radius: 0;
    background: black;
}

/* 自定义滚动条 */


/* 选中 ---------*/

::selection {
    background: rgb(230, 230, 230);
    color:rgb(40, 40, 40);
}

::-moz-selection {
    background: rgb(230, 230, 230);
    color:rgb(40, 40, 40);
}

::-webkit-selection {
    background: rgb(230, 230, 230);
    color:rgb(40, 40, 40);
}