@font-face {
    font-family: EH;
    src: url('Ubuntu-Medium.ttf');
}

@font-face {
    font-family: DE;
    src: url('DancingVampyrish.ttf');
}

@font-face {
    font-family: KW;
    src: url('Aboreto-Regular.ttf');
}

@font-face {
    font-family: HS;
    src: url('MochiyPopOne-Regular.ttf');
}